*{
	padding: 0px;
	margin: 0px;
	max-width: 100vw;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

body{
}

.nav {
	list-style-type: none;
	text-align: center;
	margin:0;
	padding: 0;

}

.nav li {
	display: inline-block;
	font-size: 20px;
	padding: 40px;
}

.header-title{
	display: grid;
	justify-content: center;
	padding: 5%;
}

.mission-statement{
	display: grid;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-content: center;
	text-align: center;
	width: 800px;
	margin: auto;
	padding: 70px 0;

}

.testimonials{
	display: grid;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-content: center;
	width: 800px;
	margin: auto;
	padding: 70px 0;
	text-align: center;
}

.me-and-rosco {
	display: flex;
	justify-content: center;
}


#myImage{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}
.by-the-water{
	display: grid;
	grid-column: 1fr 1fr;
	grid-row-start: 3fr 3fr 3fr;
	grid-row-end:;
	grid-row-start: 2;
	grid-row-end: 3;
	margin: auto;
	padding: 100px 0;

}
#aboutmephoto{
	display: grid;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-content: center;
	height: 200px;
}
.maincontentcontainer{
	display: grid;
	grid-template-columns: 100% 20% 20% 20% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
/*	grid-row-start: 3fr;
*/	border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
}
.logo{
	display: grid;
	/*grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;*/
	grid-row-start: 3fr;
	border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    text-align: left;
    grid-row-start: 4;
    grid-row-end: 5;
}
.service-locations{
	display: grid;
	justify-content: center;
}
.service-rates-container{
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	justify-content: space-evenly;
	border: 1px solid black;
    background-color: lightblue;
}
.dog-cat-rates{
	display: grid;
	grid-column-start: 1;
}
.dog-walking-rates{
	display: grid;
	grid-column-start: 2;
}
.waste-removal-rates{
	display: grid;
	grid-column-start: 3;
}